@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.item-card {
  position: relative;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hover-modal {
  position: fixed; /* Make the modal follow the cursor */
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  opacity: 0.9;
  z-index: 100;
  pointer-events: none; /* Prevents the modal from interfering with mouse events */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hover-modal {
  transition: top 0.05s ease, left 0.05s ease; /* Adds smooth movement */
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-card {
  width: 150px;
  height: 150px;
  position: relative;
  cursor: pointer;
}
